body {
    font-style: 16px;
}

.cv {
    margin-top: 50px;
    border: 1px solid #4b4b4b;
    box-shadow: 1px 1px 10px #000;
}

.cv-left {
    background-color: #4b4b4b;
    min-height: 30vh;
    color: #fff;
}

.cv-right {
    background-color: #fff;
    min-height: 30vh;
    color: #131313;
}

.cv-left a {
    color: #fff;
    text-decoration: none;
}

.cv-left .contacts-block {
    line-height: 175%;
    list-style-type: none;
}

.cv-left .adress {
    font-style: italic;
}